# bin and obj folders
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]inaries/
[Oo]utput/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio files
.vs/
*.sqlite
